{"filter":false,"title":".gitignore","tooltip":"/sample2/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":358.5,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":24,"state":"start","mode":"ace/mode/ini"}},"timestamp":1651547575960,"hash":"6a7966913165caf06eb2fb0e262ac54ae773f4e3"}